.App {
    text-align: center;
}

#dropdown-method {
    padding: 1%;
    border-radius: 5px;
}

.out {
    margin: 3%;
    background-color: black;
    color: white;
    padding: 2%;
}

button {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #dda0dd;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}