.App {
    text-align: center;
    background-color: #161A23;
    color: #FFFFFF;
}

#dropdown-method {
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    appearance: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 20%;
    margin: 2% 0 0 0;
}

option {
    padding: 2%;
}

.out {
    margin: 3%;
    background-color: black;
    color: white;
    padding-left: 1%;
    overflow-y: scroll;
    height: 400px;
    width: 50%;
    text-align: left;
    padding: 1% 2% 1% 2%;
}

button {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #dda0dd;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

.top-part {
    background-color: rgb(25, 207, 25);
    color: #000000;
    padding: 1%;
    height: 35vh;
}

#panel {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 5%;
}

@media only screen and (max-width: 768px) {
    #dropdown-method {
        width: 70%;
    }

    button {
        padding: 2%;
    }

    .out {
        padding: 5%;
        width: 80%;
        margin: 0 auto;
    }

    #panel {
        flex-direction: column;
    }

    .top-part {
        height: 25vh;
    }
}