.App {
    text-align: center;
}

#dropdown-method {
    padding: 1% 1% 1% 1%;
    border-radius: 8px;
    appearance: none;
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-repeat: no-repeat;
    background-position: right center;
    width: 20%;
}

.out {
    margin: 3%;
    background-color: black;
    color: white;
    padding-left: 1%;
    overflow-y: scroll;
    height: 450px;
}

button {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #dda0dd;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #dropdown-method {
        width: 70%;
    }

    button {
        padding: 2%;
    }

    .out {
        padding: 5%;
    }
}