#equation_gim {
    text-align: left;
    margin: 3%;
}

input[type=text] {
    padding: 1%;
    width: 5%;
    text-align: center;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

#eq {
    width: 20%;
}